<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap_phpunit.php"
         colors="true"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/Views</directory>
                <file>src/Core/helpers.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <junit outputFile="tests/logs/junit.xml"/>
        <teamcity outputFile="tests/logs/teamcity.txt"/>
        <testdoxHtml outputFile="tests/logs/testdox.html"/>
        <testdoxText outputFile="tests/logs/testdox.txt"/>
    </logging>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="memory_limit" value="1G"/>
        <ini name="max_execution_time" value="0"/>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="MAIL_MAILER" value="array"/>
    </php>

    <groups>
        <exclude>
            <group>slow</group>
            <group>external</group>
        </exclude>
    </groups>
</phpunit>